*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 600px;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
                0 5px 12px -2px rgba(0, 0, 0, 0.1),
                0 18px 36px -6px rgba(0, 0, 0, 0.1);
}

.container .title{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container form input{
    display: none;
}

.container form .category{
    margin-top: 10px;
    padding-top: 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.category label{
    /* height: 65px; */
    height: 145px;
    padding: 20px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

/* label:nth-child(2), label:nth-child(3){
    margin: 15px 0;
} */

/* ----------mpesa-------------- */


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: white;
  color: white;
  padding: 36px 130px;
  cursor: pointer;
  position: flex;
  width: 88px;
  border-radius: 5%;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  margin-top: 150px;
  top: 79px;
  right: 40px;
  z-index: 19;
  max-width: 300px;
  overflow: auto; 
  border: 1px solid #635b5b;
  background-color: whitesmoke;
 }



.form-container input, .form-container input[type=text]:focus, input[type=Amount] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  background: whitesmoke;
  border-color: #141414;
  border-radius: 14px;
  border-width: 1px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=Amount]:focus {
  background-color:whitesmoke;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #141414;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  border-radius: 14px;
}


#visa:checked ~ .category .visaMethod,
#mastercard:checked ~ .category .mastercardMethod,
#paypal:checked ~ .category .paypalMethod,
#mpesa:checked ~ .category .mpesaMethod{
    box-shadow: 0px 0px 0px 1px #6064b6;
}


#visa:checked ~ .category .visaMethod .check,
#mastercard:checked ~ .category .mastercardMethod .check,
#paypal:checked ~ .category .paypalMethod .check,
#mpesa:checked ~ .category .mpesaMethod .check{
    display: block;
}


label .imgName{
    display: flex;
    /* justify-content: space-between;
     */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.imgName span{
    /* margin-left: 20px; */
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    top: 72%;
    transform: translateY(-72%);
}

.imgName .imgContainer{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 35%;
    transform: translateY(-35%);
}

img{
    width: 50px;
    height: auto;
}

.visa img{
    width: 100px;
    /* margin-left: 5px; */
}

.mastercard img{
    width: 65px;
}

.paypal img{
    width: 80px;
}

.mpesa img{
    width: 100px;
}

.check{
    display: none;
    position: absolute;
    top: -4px;
    right: -4px;
}

.check i{
    font-size: 18px;
}

